.navbar-header h1 {
    height: auto;
    padding: 15px;
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #9d9d9d;
}

.ithit-search-container {
    position: relative;
    height: 50px;
}

.ithit-search-container input.tt-input[disabled],
.ithit-search-container input.tt-input[readonly] {
    cursor: default;
}

.ithit-search-container .twitter-typeahead {
    position: relative;
    width: 100%;
    padding: 0 100px 0 0;
    margin-bottom: 15px;
}

.ithit-search-container button {
    position: absolute;
    top: 0;
    right: 0;
    width: 85px;
}

@media (max-width: 767px) {
    .ithit-search-container .twitter-typeahead {
        padding-right: 53px;
    }

    .ithit-search-container button {
        width: 38px;
    }
}

.ithit-grid-container {
    width: 100%;
    margin-top: 20px;
}

.ithit-grid-container .column-action {
    text-align: right;
    padding-left: 0;
    padding-right: 0;
}

.ithit-grid-container .column-action a {
    display: inline-block;
    padding: 2px 8px;
}

.ithit-grid-container .column-action a:last-child {
    margin-right: 0;
}

.ithit-grid-container .column-action button.browse-lnk span:last-child {
    margin-right: 10px;
}

.ithit-grid-container .column-action button span {
    vertical-align: middle;
}

table.ithit-grid-container > tbody > tr > td {
    vertical-align: middle;
    white-space: nowrap;
}

table.ithit-grid-container > thead > tr > th:nth-child(1),
table.ithit-grid-container > tbody > tr > td:nth-child(1),
table.ithit-grid-container > thead > tr > th:nth-child(5),
table.ithit-grid-container > tbody > tr > td:nth-child(5) {
    text-align: right;
}

table.ithit-grid-container > tbody > tr > td:nth-child(3) {
    width: 100%;
}

.ithit-grid-icon-locked {
    color: #337ab7;
    left: 2px;
    top: -1px;
}

.fas .ithit-grid-icon-locked {
    left: -4px;
    top: 3px;
    text-shadow: -1px -1px 0px #fff;
    font-size: 12px;
}

@media (max-width: 1280px) {
    .custom-hidden {
        display: none !important;
    }
}

.tt-suggestion .snippet, .ithit-grid-container .snippet {
    overflow: hidden;
    font-size: 12px;
    line-height: 18px;
    color: #999;
}

.tt-suggestion .breadcrumb, .ithit-grid-container .breadcrumb {
    font-size: 12px;
    color: #999;
    word-break: break-word;
}

.ithit-grid-container ol.breadcrumb, .tt-suggestion ol.breadcrumb {
    list-style: none;
    background-color: transparent;
    padding: 0 0 0 8px;
    margin: 0;
}

.tt-suggestion ol.breadcrumb {
    padding: 0;
}

.tt-suggestion ol.breadcrumb li:first-child, .ithit-grid-container ol.breadcrumb li:first-child {
    display: none;
}

.ithit-grid-container ol.breadcrumb li, .tt-suggestion ol.breadcrumb li {
    display: inline-block;
}

.ithit-grid-container ol.breadcrumb li .fas, .ithit-grid-container ol.breadcrumb li:nth-of-type(2):before,
.tt-suggestion ol.breadcrumb li .fas, .tt-suggestion ol.breadcrumb li:nth-of-type(2):before {
    display: none;
}

.ithit-grid-container ol.breadcrumb li:before, .tt-suggestion ol.breadcrumb li:before {
    padding-right: .3rem;
    padding-left: .3rem;
}

.tt-suggestion .snippet b, .ithit-grid-container .snippet b {
    color: #555;
}

.tt-hint {
    color: #999;
}

.tt-menu {
    width: 100%;
    right: 100px;
    margin: 1px 0;
    padding: 6px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.tt-suggestion {
    padding: 3px 20px;
    line-height: 1.7;
}

.tt-suggestion:hover {
    cursor: pointer;
    background-color: #eee;
}

.tt-suggestion.tt-cursor {
    background-color: #eee;
}

table tr.tr-snippet-url td {
    padding: 0px;
    border-top: none;
}

table tr.tr-snippet-url td > div {
    padding-left: 8px;
}

table tr.tr-snippet-url td > div:last-child {
    margin-bottom: 8px;
    padding-right: 8px;
}

table tr.hover {
    background-color: #f5f5f5;
}

.table-responsive {
    border: none;
}

table td.ellipsis, table th.ellipsis {
    position: relative;
}

table td.ellipsis:before, table th.ellipsis:before {
    content: '&nbsp;';
    visibility: hidden;
}

table td.ellipsis span, table td.ellipsis a, table th.ellipsis span, table th.ellipsis a {
    position: absolute;
    left: 8px;
    right: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table .fas {
    vertical-align: middle;
    top: -3px;
}

table .fas > span {
    vertical-align: middle;
}

table .fas:before {
    font-size: 18px;
}

#ithit-dropzone {
    border: 2px dashed;
    padding: 20px;
    margin: 20px 15px 30px;
    border-radius: 8px;
    cursor: pointer;
}

#ithit-dropzone .boxtitle {
    font-size: 18px;
}

.ithit-grid-uploads > tbody > tr > td {
    vertical-align: middle;
    white-space: nowrap;
}
/*Size and Uploaded columns*/
.ithit-grid-uploads > tbody > tr > td:nth-child(2),
.ithit-grid-uploads > tbody > tr > td:nth-child(3) {
    width: 95px;
}

/*Completed column*/
.ithit-grid-uploads > tbody > tr > td:nth-child(4) {
    width: 56px;
}

/*Elapsed, Remaining and Speed columns*/
.ithit-grid-uploads > tbody > tr > td:nth-child(5),
.ithit-grid-uploads > tbody > tr > td:nth-child(6),
.ithit-grid-uploads > tbody > tr > td:nth-child(7) {
    width: 110px;
}

/*State column*/
.ithit-grid-uploads > tbody > tr > td:nth-child(8) {
    width: 80px;
}

/*Actions column*/
.ithit-grid-uploads > tbody > tr > td:nth-child(9) {
    width: 60px;
}

.ithit-grid-uploads td.progress-container {
    border-top: none;
    padding: 0;
}

.ithit-grid-uploads td .progress {
    background-color: transparent;
    border-radius: 0;
    height: 3px;
    box-shadow: none;
}

.ithit-grid-uploads td .lnk-cancel {
    margin-left: 10px;
}

.ithit-grid-uploads .progress-bar {
    height: 3px;
}

.ithit-grid-uploads td.text-center {
    white-space: nowrap;
}

.ithit-grid-uploads .glyphicon {
    font-size: 22px;
}

.ithit-grid-uploads td.column-action {
    padding-left: 0;
    padding-right: 0;
}

.ithit-grid-uploads td.column-action .btn {
    padding-left: 8px;
    padding-right: 8px;
}

button.btn.btn-transparent {
    background-color: transparent;
    border: none;
    padding: 2px 8px;
    min-width: initial;
    color: #337ab7;
}

.alert-danger {
    margin-top: 15px;
}

.btn {
    min-width: 70px;
}